@ca-priv-repo-01:registry=https://-----------.amazonaws.com/npm/ca-priv-repo-01/
//-----------.amazonaws.com/npm/ca-priv-repo-01/:always-auth=true
//-----------.amazonaws.com/npm/ca-priv-repo-01/:_authToken=${CODEARTIFACT_AUTH_TOKEN}